 .u-section-1 {
  min-height: 572px;
  background-image: none;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 auto 0 0;
}

.u-section-1 .u-image-1 {
  min-height: 572px;
  background-image: url("images/portrait-laughing-cheerful-doctor-s-faces7.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 572px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 55px 40px;
}

.u-section-1 .u-text-1 {
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 3.75rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 24px auto 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
  background-image: none;
  font-weight: 400;
  margin: 24px auto 0 0;
  padding: 10px 55px 10px 54px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 472px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-image-1 {
    min-height: 402px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 562px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 362px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-image-1 {
    min-height: 308px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 579px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-image-1 {
    min-height: 478px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 402px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-image-1 {
    min-height: 301px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 425px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 305px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 305px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 2.2;
}

.u-section-2 .u-btn-1 {
  margin-left: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
  font-weight: 400;
  border-style: solid;
  margin-top: 30px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 520px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 251px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 251px;
  }

  .u-section-2 .u-btn-1 {
    padding: 10px 55px 10px 54px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 125px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 225px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-3 {
  background-image: none;
  min-height: 1381px;
}

.u-section-3 .u-group-1 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 416px;
  height: auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 80px 30px 20px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
}

.u-section-3 .u-list-1 {
  width: 1140px;
  grid-template-rows: repeat(1, auto);
  grid-auto-rows: 100%;
  margin: -208px auto 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 976px;
  --gap: 0px;
  grid-auto-columns: 33.3333%;
}

.u-section-3 .u-list-item-1 {
  background-size: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  height: 357px;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-group-2 {
  width: 254px;
  min-height: 166px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -57px auto 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 20px;
}

.u-section-3 .u-text-2 {
  font-size: 1.375rem;
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-3 {
  text-transform: none;
  letter-spacing: 2px;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-3 .u-social-icons-1 {
  white-space: nowrap;
  height: 20px;
  min-height: 16px;
  width: 99px;
  min-width: 68px;
  margin: 30px auto 0;
}

.u-section-3 .u-icon-1 {
  height: 100%;
}

.u-section-3 .u-icon-2 {
  height: 100%;
}

.u-section-3 .u-icon-3 {
  height: 100%;
}

.u-section-3 .u-list-item-2 {
  background-size: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  height: 357px;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-group-3 {
  width: 254px;
  min-height: 166px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -57px auto 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 20px;
}

.u-section-3 .u-text-4 {
  font-size: 1.375rem;
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-5 {
  text-transform: none;
  letter-spacing: 2px;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-3 .u-social-icons-2 {
  white-space: nowrap;
  height: 20px;
  min-height: 16px;
  width: 99px;
  min-width: 68px;
  margin: 30px auto 0;
}

.u-section-3 .u-icon-4 {
  height: 100%;
}

.u-section-3 .u-icon-5 {
  height: 100%;
}

.u-section-3 .u-icon-6 {
  height: 100%;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  height: 357px;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  object-position: 50% 0%;
}

.u-section-3 .u-group-4 {
  width: 254px;
  min-height: 166px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -57px auto 0;
}

.u-section-3 .u-container-layout-7 {
  padding: 20px;
}

.u-section-3 .u-text-6 {
  font-size: 1.375rem;
  margin: 0;
}

.u-section-3 .u-text-7 {
  text-transform: none;
  letter-spacing: 2px;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-3 .u-social-icons-3 {
  white-space: nowrap;
  height: 20px;
  min-height: 16px;
  width: 99px;
  min-width: 68px;
  margin: 30px auto 0;
}

.u-section-3 .u-icon-7 {
  height: 100%;
}

.u-section-3 .u-icon-8 {
  height: 100%;
}

.u-section-3 .u-icon-9 {
  height: 100%;
}

.u-section-3 .u-list-item-4 {
  background-size: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-8 {
  padding: 30px;
}

.u-section-3 .u-image-4 {
  height: 357px;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  object-position: 50% 0%;
}

.u-section-3 .u-group-5 {
  width: 254px;
  min-height: 166px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -57px auto 0;
}

.u-section-3 .u-container-layout-9 {
  padding: 20px;
}

.u-section-3 .u-text-8 {
  font-size: 1.375rem;
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-9 {
  text-transform: none;
  letter-spacing: 2px;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-3 .u-social-icons-4 {
  white-space: nowrap;
  height: 20px;
  min-height: 16px;
  width: 99px;
  min-width: 68px;
  margin: 30px auto 0;
}

.u-section-3 .u-icon-10 {
  height: 100%;
}

.u-section-3 .u-icon-11 {
  height: 100%;
}

.u-section-3 .u-icon-12 {
  height: 100%;
}

.u-section-3 .u-list-item-5 {
  background-size: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-10 {
  padding: 30px;
}

.u-section-3 .u-image-5 {
  height: 357px;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  object-position: 50% 0%;
}

.u-section-3 .u-group-6 {
  width: 254px;
  min-height: 166px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -57px auto 0;
}

.u-section-3 .u-container-layout-11 {
  padding: 20px;
}

.u-section-3 .u-text-10 {
  font-size: 1.375rem;
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-11 {
  text-transform: none;
  letter-spacing: 2px;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-3 .u-social-icons-5 {
  white-space: nowrap;
  height: 20px;
  min-height: 16px;
  width: 99px;
  min-width: 68px;
  margin: 30px auto 0;
}

.u-section-3 .u-icon-13 {
  height: 100%;
}

.u-section-3 .u-icon-14 {
  height: 100%;
}

.u-section-3 .u-icon-15 {
  height: 100%;
}

.u-section-3 .u-list-item-6 {
  background-size: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-12 {
  padding: 30px;
}

.u-section-3 .u-image-6 {
  height: 357px;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  object-position: 50% 0%;
}

.u-section-3 .u-group-7 {
  width: 254px;
  min-height: 166px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -57px auto 0;
}

.u-section-3 .u-container-layout-13 {
  padding: 20px;
}

.u-section-3 .u-text-12 {
  font-size: 1.375rem;
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-13 {
  text-transform: none;
  letter-spacing: 2px;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-3 .u-social-icons-6 {
  white-space: nowrap;
  height: 20px;
  min-height: 16px;
  width: 99px;
  min-width: 68px;
  margin: 30px auto 0;
}

.u-section-3 .u-icon-16 {
  height: 100%;
}

.u-section-3 .u-icon-17 {
  height: 100%;
}

.u-section-3 .u-icon-18 {
  height: 100%;
}

.u-section-3 .u-text-14 {
  width: 422px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 30px auto 65px;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 1323px;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-list-1 {
    width: 940px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 805px;
    grid-gap: 0px;
    grid-auto-columns: 33.333333333333336%;
  }

  .u-section-3 .u-image-1 {
    height: 283px;
  }

  .u-section-3 .u-group-2 {
    width: 223px;
    margin-top: -21px;
  }

  .u-section-3 .u-social-icons-1 {
    width: 80px;
  }

  .u-section-3 .u-image-2 {
    height: 283px;
  }

  .u-section-3 .u-group-3 {
    width: 223px;
    margin-top: -21px;
  }

  .u-section-3 .u-social-icons-2 {
    width: 80px;
  }

  .u-section-3 .u-image-3 {
    height: 283px;
  }

  .u-section-3 .u-group-4 {
    width: 223px;
    margin-top: -21px;
  }

  .u-section-3 .u-social-icons-3 {
    width: 80px;
  }

  .u-section-3 .u-image-4 {
    height: 283px;
  }

  .u-section-3 .u-group-5 {
    width: 223px;
    margin-top: -21px;
  }

  .u-section-3 .u-social-icons-4 {
    width: 80px;
  }

  .u-section-3 .u-image-5 {
    height: 283px;
  }

  .u-section-3 .u-group-6 {
    width: 223px;
    margin-top: -21px;
  }

  .u-section-3 .u-social-icons-5 {
    width: 80px;
  }

  .u-section-3 .u-image-6 {
    height: 283px;
  }

  .u-section-3 .u-group-7 {
    width: 223px;
    margin-top: -21px;
  }

  .u-section-3 .u-social-icons-6 {
    width: 80px;
  }

  .u-section-3 .u-text-14 {
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 1806px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 75px;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 1387px;
    grid-auto-columns: 50%;
  }

  .u-section-3 .u-image-1 {
    height: 335px;
  }

  .u-section-3 .u-group-2 {
    margin-top: -73px;
  }

  .u-section-3 .u-image-2 {
    height: 335px;
  }

  .u-section-3 .u-group-3 {
    margin-top: -73px;
  }

  .u-section-3 .u-image-3 {
    height: 335px;
  }

  .u-section-3 .u-group-4 {
    margin-top: -73px;
  }

  .u-section-3 .u-image-4 {
    height: 335px;
  }

  .u-section-3 .u-group-5 {
    margin-top: -73px;
  }

  .u-section-3 .u-image-5 {
    height: 335px;
  }

  .u-section-3 .u-group-6 {
    margin-top: -73px;
  }

  .u-section-3 .u-image-6 {
    height: 335px;
  }

  .u-section-3 .u-group-7 {
    margin-top: -73px;
  }

  .u-section-3 .u-text-14 {
    margin-bottom: -210px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-top: 80px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    height: 276px;
  }

  .u-section-3 .u-group-2 {
    margin-top: -44px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    height: 276px;
  }

  .u-section-3 .u-group-3 {
    margin-top: -44px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    height: 276px;
  }

  .u-section-3 .u-group-4 {
    margin-top: -44px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-4 {
    height: 276px;
  }

  .u-section-3 .u-group-5 {
    margin-top: -44px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-5 {
    height: 276px;
  }

  .u-section-3 .u-group-6 {
    margin-top: -44px;
  }

  .u-section-3 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-6 {
    height: 276px;
  }

  .u-section-3 .u-group-7 {
    margin-top: -44px;
  }

  .u-section-3 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 3044px;
  }

  .u-section-3 .u-group-1 {
    width: 440px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 70px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
    margin-top: -236px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 2748px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-1 {
    height: 354px;
  }

  .u-section-3 .u-group-2 {
    margin-top: -122px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-2 {
    height: 354px;
  }

  .u-section-3 .u-group-3 {
    margin-top: -122px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-3 {
    height: 354px;
  }

  .u-section-3 .u-group-4 {
    margin-top: -122px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-4 {
    height: 354px;
  }

  .u-section-3 .u-group-5 {
    margin-top: -122px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-5 {
    height: 354px;
  }

  .u-section-3 .u-group-6 {
    margin-top: -122px;
  }

  .u-section-3 .u-container-layout-12 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-6 {
    height: 354px;
  }

  .u-section-3 .u-group-7 {
    margin-top: -122px;
  }

  .u-section-3 .u-text-14 {
    width: 340px;
    margin-bottom: 60px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 575px;
}

.u-section-4 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  width: 692px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 20px auto 0;
}

.u-section-4 .u-list-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 22.5px));
  min-height: 210px;
  --gap: 30px;
  grid-auto-columns: calc(25% - 22.5px);
}

.u-section-4 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 10px;
}

.u-section-4 .u-text-3 {
  font-size: 3.75rem;
  margin: 0;
}

.u-section-4 .u-text-4 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 10px;
}

.u-section-4 .u-text-5 {
  font-size: 3.75rem;
  margin: 0;
}

.u-section-4 .u-text-6 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 10px;
}

.u-section-4 .u-text-7 {
  font-size: 3.75rem;
  margin: 0;
}

.u-section-4 .u-text-8 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-4 .u-list-item-4 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 10px;
}

.u-section-4 .u-text-9 {
  font-size: 3.75rem;
  margin: 0;
}

.u-section-4 .u-text-10 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 491px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 173px;
    grid-gap: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 794px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 59px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: 59px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 484px;
    grid-auto-columns: calc(50% - 15px);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 786px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: 60px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 460px;
    grid-auto-columns: calc(100% - 0px);
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-2 {
    width: 340px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 467px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 348px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-form-1 {
  width: 510px;
  height: 371px;
  margin: 0 -76px 0 0;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  padding-left: 0;
  padding-right: 0;
  text-transform: uppercase;
  width: 100%;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 174px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  margin: 0;
}

.u-section-5 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 136px;
  min-width: 68px;
  margin: 30px 0 0;
}

.u-section-5 .u-icon-1 {
  height: 100%;
}

.u-section-5 .u-icon-2 {
  height: 100%;
}

.u-section-5 .u-icon-3 {
  height: 100%;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 174px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-2 {
  font-size: 1.875rem;
  letter-spacing: 3px;
  line-height: 1.8;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 406px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 287px;
  }

  .u-section-5 .u-form-1 {
    width: 441px;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 143px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 143px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 319px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-form-1 {
    width: 324px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 419px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-form-1 {
    width: 520px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 399px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .u-section-5 .u-form-1 {
    width: 320px;
  }
}